# Instalação das libs
#removido crewai-tools
yfinance==0.2.41
langchain-community>=0.2.10,<0.3.0
langchain-core>=0.2.27,<0.3.0
duckduckgo-search
streamlit
# Adicionar biblioteca para funcinar dentro do streamlit cloud
pysqlite3-binary